* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
li {
    list-style-type: none;
}
ul {
    margin-left: 0;
    padding-left: 0;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
}

.header {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    background-color: #373741;    
}
.header_photo {
    width: 35%;
    display: flex;
    justify-content: center;
}
.person_photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: url(../img/A.Pasynkova.jpg) center center/cover no-repeat;
}
.header_info {
    width: 65%;
    color: #fff;
}
.header_info h1 {
    font-size: 40px;
}
.header_info_position {
    font-size: 25px;
    margin-top: 10px;
}

main {
    display: flex;
}

.first_column {
    width: 35%;
    background-color: #e1d8cf;
}
.second_column {
    width: 65%;
}
.section_heading {
    width: 70%;
    margin: 5% 10%;
    padding: 15px;
    color: #fff;
    background-color: #373741;
}
.section_heading h2 {
    font-size: 25px;
}
.section_desc {
    width: 80%;
    margin-left: 10%;
}

footer {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    background-color: #373741;
    opacity: 0.8;
}
.link_github a {
    color: #fff;
    text-decoration: none;
}
.logo_rsschool img {
    width: 100px;
}